<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <shutdownHook/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/quarkus-logback.log</file>
        <append>false</append>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender-ref ref="FILE" />
        <appendTimeout>-1</appendTimeout>
    </appender>

    <logger name="com.sebastian_daschner" level="info" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>

    <root level="error">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
